body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 500px; 
    text-align: center; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

ul {
    display:flex;
    flex-direction: column;
    gap: 20px;

}

li {
    list-style-type: none;
}

.action-button {
    width: 100%;
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 20px; 
    font-size: 18px; 
    text-align: center; 
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: background-color 0.3s; 
    
}

.title  {
    background-color: #000;
    color: #ccc;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px; 
}

h1 {
    font-size: 24px;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column; 
    min-width: 200px;
    max-width: 500px;
    min-height: 200px;
    max-height: 600px;
    border: 5px solid #ccc;
    padding: 60px;
    box-sizing: border-box;
    gap: 15px; 
}

.arrow-item{
    width: 200px;
}


.action-button .arrow {
    font-size: 24px;
    margin-left: auto; 
}

.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.action-button:hover {
    background-color: #1bde3c; /* Muda corzinha */
}

.btn {
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 500px) {
    .action-button {
        font-size: 16px;
        padding: 15px;
    }
    .action-button .arrow {
        font-size: 22px;
    }
    .back-button {
        font-size: 20px;
        padding: 8px;
    }
}
